{% extends 'base.html.twig' %}

{% block title %}Under construction{% endblock %}

{% block body %}
<div class="under_construction">
    <img alt="Application under construction" src="/images/under-construction.gif" />
</div>
{% endblock %}
